if locals.original_poster_path
	.images
		i.icon-close
		if locals.is_phone
			img(src=image_path + locals.original_poster_path, width='85', height='122')
		else
			img(src=image_path + locals.original_poster_path, width='130', height='195')
		.img-container
	p.name=locals.title
	if locals.runtime
		p.meta=locals.runtime + ' Minutes'
else
	.image-placeholder.images
		i.icon-close
		i.icon-question
		.img-container
	p.name=locals.title || locals.file_name