.md-content
	h3 Download Torrent
	div.md-body
		dl.dl-horizontal
			dt Title
			dd !{locals.title}
			dt Leechers
			dd=locals.leechers
			dt Seeds
			dd=locals.seeds
			dt File Size
			dd=locals.size
			if locals.sources
				dt Download Location
				dd
					select
						each source in locals.sources
							option=source.path
	div.md-footer.clearfix
		button.md-close.btn.dismiss Cancel
		button.md-download.btn.primary Download
